<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.vol">

    <!-- network + maps key (you already have these) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 1) Add these two permissions for GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 2) (Optional) if you ever need background location -->
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/> -->

    <application
        android:name="${applicationName}"
        android:label="Eco Volunteer"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/LaunchTheme"
        tools:replace="android:label,android:theme,android:roundIcon">
<meta-data
    android:name="com.baseflow.geolocator.GeolocatorInitializationProvider"
    android:value="false" />
        <!-- Your Google Maps API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCi_e1AcADPCBZO800RudcF3-w_RDNeqZI"/>

        <!-- Flutter’s entry-point activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/NormalTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:theme,android:configChanges">

            <!-- background while Flutter initializes -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter embedding version declaration -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

    <!-- Allow PROCESS_TEXT so text-selection plugins work -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
